body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}
.parallax {
  /* The image used */
  background-image: url(../assets/img/wallpaper.jpg);

  /* Full height */
  height: auto;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
hr {
  /* margin-top: 1rem;
  margin-bottom: 1rem; */
  border: 5px solid rgba(255, 162, 0, 0.723);
  /* border-top: 5px solid rgb(255, 0, 0); */
}
.modal-header,
.modal-body,
.modal-footer {
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
}
